<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Textutils</title>
    </head>
    <body>
        <h1>Welcome to the text analyzer. Enter your text below</h1>
            <form action='/analyze.html' method='get'>
                <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea>
                <br><input type='checkbox' name='removepunc'>Remove punctuations
                <br><input type='checkbox' name='fullcaps'>UPPERCASE
                <br><input type='checkbox' name='newlineremover'>New line remover
                <br><input type='checkbox' name='fullsmall'>lowercase
                <br><input type='checkbox' name='spacerem'>Space remover
                <br><input type='checkbox' name='charcount'>Char counter (if you check charcount, do note check any other.)

                <br><button type='submit'>analyze Text</button>
            </form>
    </body>
</html>